:root {
    --bs-blue: #0091e9;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #EE4D47;
    --bs-orange: #F17228;
    --bs-yellow: #FFC928;
    --bs-green: #79B93C;
    --bs-teal: #53F283;
    --bs-cyan: #24FFEA;
    --bs-white: #FFFEFE;
    --bs-gray: #9E9E9E;
    --bs-gray-dark: #616161;
    --bs-primary: #EE4D47;
    --bs-secondary: #0091e9;
    --bs-success: #79B93C;
    --bs-info: #24FFEA;
    --bs-warning: #FFC928;
    --bs-danger: #EE4D47;
    --bs-light: #F9FAFD;
    --bs-dark: #23242A;
    --bs-font-sans-serif: "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --base-color-text: #4F5665;
    --primary-color: #34006E;
    --white: #FFFFFF;
}
  