<div class="think-container">
  <section>
    <div class="text-container">
      <h2 class="fw-semi-bold text-center">
        Thinkers que aprenderam e estão satisfeitos
      </h2>
      <h5 class="fw-lighter text-black-50 text-center fs--1">
        Essas são as histórias de nossos thinkers que se juntaram a nós com
        muito prazer ao aprender esse processo inovador.
      </h5>
    </div>

    <div class="card-container">
      <app-card
        *ngFor="let testimonial of testimonials"
        [name]="testimonial.name"
        [place]="testimonial.place"
        [image]="testimonial.image"
        [stars]="testimonial.stars"
        [text]="testimonial.text"
      ></app-card>
    </div>
    <div class="footer-testimonials">
      <div class="marker-container">
        <div
          *ngFor="let testimonial of testimonials; let index = index"
          class="marker"
          [ngClass]="{ actived: testimonialIndex === index }"
        ></div>
      </div>

      <div class="button-container">
        <button class="btn-circle-stroke">
          <em class="bi bi-arrow-left-short"></em>
        </button>

        <button class="btn-circle-fill">
          <em class="bi bi-arrow-right-short"></em>
        </button>
      </div>
    </div>
  </section>
</div>
