<div class="think-container">
  <section>
    <div class="text-container">
      <h2 class="fw-semi-bold text-center">
        Thinkers que aprenderam e estão satisfeitos
      </h2>
      <h5 class="fw-lighter text-black-50 text-center fs--1">
        Essas são as histórias de nossos thinkers que se juntaram a nós com
        muito prazer ao aprender esse processo inovador.
      </h5>
    </div>

    <div class="card-container">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="footer-testimonials">
      <div class="marker-container">
        <div class="marker actived"></div>
        <div class="marker"></div>
        <div class="marker"></div>
        <div class="marker"></div>
        <div class="marker"></div>
        <div class="marker"></div>
      </div>

      <div class="button-container">
        <button class="btn-circle-stroke"><</button>

        <button class="btn-circle-fill">></button>
      </div>
    </div>
  </section>
</div>
