.card {
  .card-flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card-infos {
      & .testimonials-image {
        border-radius: 50%;
        width: 15%;
        aspect-ratio: 4/3;
      }
      & {
        display: flex;
        flex-direction: row;
      }
    }

    .stars {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 1.5rem;
      }
    }
  }

  .card-body {
    padding: 0;
    & p {
      margin: 0;
    }
  }

  & {
    width: 25rem;
    border-width: 2px;
    margin-right: 1rem;
    padding: 1.3rem;
    &.actived {
      border: solid 2px var(--primary-color);
    }
  }
}
