<div class="content">
    <div class="container">
        <div class="row">
            <div id="cont2" class="containel">
                <div class="row logo">
                    <img src="assets/img/gallery/logo-think.png" alt="Logomarca da Think.A.M.">
                    <div class="col title-main">
                        <h3>THINK A.M.</h3>
                    </div>
                </div>
                    <div class="col">
                        <div class="title">
                            <h3>Plataforma</h3>
                        </div>
                        <div class="subtitle">
                            <a 
                            class="nav-link"
                            fragment="price"
                            [routerLink]="['/']"
                            [ngClass]="{ 'active': isActive('price') }"
                            >
                                <p>Preço</p> 
                            </a>
                            <a 
                            class="nav-link"
                            fragment="community"
                            [routerLink]="['/']"
                            [ngClass]="{ 'active': isActive('community') }"
                            >
                            <p>Comunidade</p>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="title">
                            <h3>Descobrir</h3>
                        </div>
                        <div class="subtitle">
                            <a target="_blank" [href]="linkThinkAM">
                                <p>THINK A.M.?</p> 
                             </a>
                            <a 
                            class="nav-link fw-medium" 
                            [ngClass]="{ 'active': isActive('about') }"
                            aria-current="page" 
                            fragment="about" 
                            [routerLink]="['/']">
                               <p>Sobre</p> 
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="title">
                            <h3>Lucre</h3>
                        </div>
                        <div class="subtitle">
                            <p>Clube</p>
                            <a target="_blank" [href]="linkSignUp">
                               <p>Seja Parceiro</p> 
                            </a>
                        </div>
                    </div>
           
                <div class="row">
                    <div class="col icons">
                        <a href="https://www.facebook.com/thinkam.net" target="_blank"><img src="assets/icons/icon-facebook.png" alt="a"></a>
                        <a href="https://twitter.com/felipealbuquerq" target="_blank"><img src="assets/icons/icon-twitter.png" alt="a"></a>
                        <a href="https://www.instagram.com/thinkam.official/" target="_blank"><img src="assets/icons/icon-instagram.png" alt="a"></a>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col copyright">
                        <p>©{{ year }} THINK A.M.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
