* {
  margin: 0;
  padding: 0;
}

.content {
  background-color: #f8f8f8;
  height: 563.12px;
  .container {
    #cont2{
      display: grid;
      grid-template-columns: auto auto auto auto ;
    }
    padding-top: 150px;
    margin: auto;
    padding-left: 70px;
    .row {
      .logo {
        margin-right: 4px;
        margin-bottom: 18px;
        img {
          width: 41px;
          height: 41px;
          margin-bottom: 5px;
        }
        .title-main {
          h3 {
            width: 170px;
            margin-left: 3px;
            margin-top: 6px;
            font-size: 20px;
            color: #0b132a;
          }
        }
      }
      .title {
        h3 {
          font-size: 18px;
          color: #0b132a;
        }
      }
      .subtitle-main {
        p {
          margin-bottom: 0.3em;
        }
      }
      .subtitle {
        p {
          margin-left: 5px;
          font-size: 16px;
          color: #4f5665;
          margin-bottom: 0.4em;
        }
      }
      .icons {
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 30px;
        img {
          margin-right: -15px;
        }
      }
      .copyright {
        p {
          color: #afb5c0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
    .content {
      background-color: #f8f8f8;
      height: 750px;
      .container {
        #cont2{
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto ;
          }
          .row {
            .logo {
              img {
                width: 55px;
                height: 55px;
                margin-bottom: 5px;
              }
              .title-main {
                h3 {
                  margin-top: 6px;
                  font-size: 30px;
                  margin-right: 20px;
            }
          }
        }
        .title {
          h3 {
            font-size: 22px;
          }
        }
        .subtitle {
          p {
            font-size: 19px;
            margin-bottom: 0.3em;
          }
        }
        .icons {
          img {
            width: 80px;
          }
        }
      }
    }
  }
}