<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex logo">
                <img src="assets/img/gallery/logo-think.png" alt="Logomarca da Think.A.M.">
                <div class="title-main">
                    <h3>THINK A.M</h3>
                </div>
            </div>
            <div class="col title">
                <h3>Plataforma</h3>
            </div>
            <div class="col title">
                <h3>Descoberta</h3>
            </div>
            <div class="col title">
                <h3>Lucre</h3>
            </div>
            <div class="row">
                <div class="col-5 subtitle-main">
                    <p><strong>THINK A.M.</strong> é uma empresa que quer que</p>
                    <p>você voe alto com os seus objetivos.</p>
                </div>
                <div class="col subtitle">
                    <p>Preço</p>
                    <p>Comunidade</p>
                </div>
                <div class="col subtitle">
                    <p>THINK A.M.? </p>
                    <p>Sobre</p>
                </div>
                <div class="col subtitle">
                    <p>Clube</p>
                    <p>Seja Parceiro</p>
                </div>
            </div>
            <div class="row">
                <div class="col icons">
                    <img src="assets/icons/icon-facebook.png" alt="a">
                    <img src="assets/icons/icon-twitter.png" alt="a">
                    <img src="assets/icons/icon-instagram.png" alt="a">
                </div>
            </div>
            <div class="row">
                <div class="col copyright">
                    <p>©{{ year }} THINK A.M.</p>
                </div>
            </div>
        </div>
    </div>
</div>