<div class="content">
    <div class="row d-flex justify-content-center">
        <div class="col hero-text hero-image">
            <div class="row">
                <div class="col hero-image">
                    <img src="assets/img/gallery/logo-think.png" alt="Logomarca da Think.A.M.">
                </div>
                <div class="col-7 hero-title ">
                    <h3>THINK A.M</h3>
                </div>
            </div>
            <div class="row">
                <div class="hero-description col-12">
                    <p><strong>THINK A.M.</strong> é uma empresa que quer que</p>
                    <p>você voe alto com os seus objetivos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>