<section id="process" class="content">
    <div class="row d-flex justify-content-center">
        <div class="col text-center hero-image">
            <img src="assets/img/gallery/excited-thinker.png" alt="Excited Thinker">
        </div>
        <div class="col hero-text">
            <div class="row">
                <div class="col-lg-12 hero-title">
                    <h3>Nós oferecemos um mapa de estudo</h3>
                </div>
            </div>
            <div class="row">
                <div class="hero-description col-12">
                    <p>O processo de aprendizagem pode ser divertido e lucrativo.</p>
                    <p>Aprenda, crie e compartilhe com o seu clube.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 checklist">
                    <ul>
                        <li>
                            <label>
                                Validação de um problema
                            </label>                            
                        </li>
                        <li>
                            <label>
                                Criação de um protótipo
                            </label>
                        </li>
                        <li>
                            <label>
                                Criação de um MVP
                            </label>
                        </li>
                        <li>
                            <label>
                                Criação de um produto
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
