<div class="content">
    <div class="row">
        <div class="col-6-lg">
            <img src="" alt="Excited Thinker">
        </div>
        <div class="col-6-lg">
            <h3>Nós oferecemos um mapa de estudo</h3>
            <p>O processo de aprendizagem pode ser divertido e lucrativo.</p>
            <p>Aprenda, crie e compartilhe com o seu clube.</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
