<section class="section counter">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-2 col-md-6 col-sm-6 counter-box">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/icons/user-icon.png" alt="User Icon">
					</div>
					<div class="col-lg-6">
						<div class="counter-item mb-5 mb-lg-0">
							<h3 class="mb-0"><span class="counter-stat font-weight-bold">40</span>+</h3>
							<p class="text-muted">Thinkers</p>
						</div>
					</div>
				</div>
			</div>
			<div class="divisor col-lg-2 text-center">
				<img src="assets/img/gallery/divisor.svg" alt="Divisor">
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 counter-box">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/icons/location-icon.png" alt="Location Icon">
					</div>
					<div class="col-lg-6">
						<div class="counter-item mb-5 mb-lg-0">
							<h3 class="mb-0"><span class="counter-stat font-weight-bold">20</span>+</h3>
							<p class="text-muted">Cidades</p>
						</div>
					</div>
				</div>
			</div>
			<div class="divisor col-lg-2 text-center">
				<img src="assets/img/gallery/divisor.svg" alt="Divisor">
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6 counter-box">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/icons/server-icon.png" alt="Server Icon">
					</div>
					<div class="col-lg-6">
						<div class="counter-item mb-5 mb-lg-0">
							<h3 class="mb-0"><span class="counter-stat font-weight-bold">50</span>+</h3>
							<p class="text-muted">Projetos</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
