.counter {
    border-radius: 10px;
    border: solid;
    border-color: rgb(189, 189, 189, 0.3);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    padding-bottom: 4rem;
}

.counter-item{    
	.counter-stat{
		font-size: 50px;
	}

	p{
		margin-bottom: 0px;
	}

}
