.container {
  .text-and-cta {
    padding-top: 87px;
    h1 {
      &.text-dark {
        margin-bottom: 20px;
        font-size: 10px;

      }
    }
    p {
      color: var(--base-color-text);
      margin-bottom: 50px;
    }
  }
}

.bg-hero {
  float: right;
  width: 600px;
  height: 380px;
  margin-right: 83px;
  margin-top: 100px;
}

@media screen and (max-width: 1000px){
  .bg-hero {
    display: none;
  }
}
