<section id="home">
    <div class="bg-hero">
        <img src="assets/img/gallery/header-bg.png"
            alt="Thinker com seu headset no computador tomando café em sua mesa ao lado de uma luminária">
    </div>
    <div class="container">
        <div class="text-and-cta min-vh-50 min-vh-sm-100">
            <div class="col-lg-6 text-md-start text-center">
                <h1 class="text-dark fs-6 fw-normal">
                    <span>Simplifique seu</span> <br />
                    <strong>Aprendizado.</strong>
                </h1>
                <p>Melhor do que ser um executor de tarefas e processos é ser um tomador de decisões que sabe o que está fazendo.</p>
                <button class="btn btn-primary" href="#" role="button">
                    Começar
                </button>
            </div>
        </div>
    </div>
</section>