<section class="mb-10">
  <div class="card-container">
    <div class="card-row">
      <h2>
        Acesse para saber das novidades!
      </h2>
      <div class="effect">
        <button
          class="btn btn-primary cta btn1"
          (click)="getDiscord()"
          role="button"
        >
          Entre no discord
        </button>
      </div>
    </div>
    <div class="card-row text-black-50">
      <small class="mt-2"> Encurte mais ainda o processo de aprendizado</small>
      <div class="efeito">
        <button
          class="btn btn-primary cta btn2"
          (click)="getDiscord()"
          role="button"
        >
          Entre no discord
        </button>
      </div>
    </div>
  </div>
</section>
