.content {
  .global-network-image {
    margin-top: 111px;
  }
  .row {
    .global-network-text {
      padding-top: 50px;
      text-align: center;
      .row {
        margin-bottom: 20px;
        .global-network-title {
          h3 {
            font-size: 35px;
            text-align: center;
          }
        }
        .global-network-description {
          p {
            margin-bottom: 0.2em;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .global-network-image {
    img {
      width: 90vw;
    }
  }
}
