<div class="content">
    <div class="row d-flex justify-content-center">
        <div class="col global-network-text">
            <div class="row">
                <div class="text-center global-network-title ">
                    <h3>Enorme rede global de</h3>
                    <h3>Thinkers</h3>
                </div>
            </div>
            <div class="row">
                <div class="global-network-description text-center ">
                    <p>Conheça <strong>Thinkers</strong> do mundo inteiro e torne mais simples o processo de</p>
                    <p>aprendizado contínuo.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col text-center global-network-image">
        <img src="assets/img/gallery/map-global.png" alt="Global Map Thinker">
    <div class="col text-center global-network-image">
        <img src="assets/img/gallery/sponsored.png" alt="Network">
    </div>
</div>
